body{
margin:0;
text-align: center;
background:linear-gradient(#b3ffff 0%,#80b3ff 100%);
font-size: 30px;
}


.image{
width: 450px;
margin-bottom: 50px;
border-radius:50%;
}

p{
  font-size:30px;
}

.menu{
list-style: none;
position:absolute;
font-family:Roboto Mono;
color:black;
z-index: 10;
top: 10px;
right:30px;
cursor: pointer;
font-size: 30px;
}

.links{
padding-top:5px;
padding-bottom: 5px;
padding-left: 9px;
padding-right: 9px;
float: left;
color:black;
}

.links:hover{
background-color: white;
color: blue;
}

html{
scroll-behavior:smooth;
}

a{
text-decoration:none;
}

.artist:hover{
background-color: white;
color: black;
}

img{
width:450px;
height:450px;
}
